services:
  - type: web
    name: acadmark
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
      - key: DB_HOST
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_NAME
        sync: false
      - key: SESSION_SECRET
        generateValue: true
      - key: ADMIN_USER
        value: admin@acadmark
      - key: ADMIN_PASSWORD
        sync: false
